#products_grid {
	.o_wsale_products_grid_table_wrapper {
		.oe_product {
			.o_wsale_products_item_title {
				a {
				    white-space: normal;
				    text-overflow: inherit;
				    overflow: inherit;
				}
			}
		}
	}
}