#product_detail {
	#o-carousel-product {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		@include up-md {
			.carousel-outer {
				width: calc(100% - 95px);
				float: right;
			}
		}
	}
}
#product_detail {
	.thumb-slide-box {
		float: left;
		width: 85px;
	}
	.thumbnails-slides {
		overflow: hidden;
		&:not(.slick-slider) {
			display: none;
		}
		[aria-hidden="true"] {
			display: inherit !important;
		}
		.o_image_64_contain {
		    width: auto;
		    height: auto;
		    max-width: 83px;
		    max-height: 83px;
		    margin: 0 auto;
		    display: block;
		    float: none;
		}
		.slick-slide {
			padding-bottom: 10px;
		}
		.slick-arrow {
	        border: none;
		    position: absolute;
		    width: 100%;
		    height: 18px;
		    background: $as-black;
		    color: $as-white;
		    z-index: 1;
		    margin: auto;
		    left: 0;
		    right: 0;
		    opacity: 1;
		    @include transition(ease all 0.35s);
		    span {
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				border-top: 1px solid $as-white;
				border-left: 1px solid $as-white;
				width: 8px;
				height: 8px;

		    }
		    &:hover {
		    	background: $as-theme;
		    }
		    &.prev {
		    	top: 0;
		    	span {
		    		top: 8px;
		    		@include rotate(45);
		    	}
		    }
		    &.next {
	    	    bottom: 10px;
	    	    span {
		    		top: 3px;
		    		@include rotate(-135);
		    	}
		    }
		    &.slick-disabled {
		    	pointer-events: none;
		    	background: rgba(0,0,0,.5) !important;
		    }
		}
		/*&:hover {
			.slick-arrow {
				opacity: 1;
			}
		}*/
	}
}