///
/// This file regroups the variables that style odoo components.
/// They are available in every asset bundle.
///

// Font sizes
$o-font-size-base-touch: 15px;

// Colors
$o-brand-odoo: #262C34;
$o-brand-primary: $o-enterprise-primary-color;
$o-brand-secondary: #8f8f8f;
$o-brand-lightsecondary: $o-gray-100;

$o-main-text-color: #666666;

$o-list-footer-bg-color: white;

$o-btn-secondary-bg: white;
$o-btn-secondary-hover-bg: darken($o-btn-secondary-bg, 10%);
$o-btn-secondary-active-bg: darken($o-btn-secondary-bg, 8%);

// Home menu
$o-home-menu-container-size: 850px;
$o-home-menu-app-icon-max-width: 70px;
$o-home-studio-menu-shadow: 0 1px 0 rgba(black, 0.45);

// snackbar

$o-snackbar-background-color: $o-tooltip-background-color;
$o-snackbar-color: $o-tooltip-color;
$o-snackbar-height: $o-kanban-header-title-height;
$o-snackbar-left: 15px;
$o-snackbar-right: $o-snackbar-left;
$o-snackbar-bottom: 20px;
$o-snackbar-inner-padding: 16px;

// touch
$o-touch-btn-padding: 7px 14px;


.o_main_navbar .show .dropdown-toggle {
    background-color: #00a09d !important;
}


.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: #00a09d !important;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: #00a09d !important;
    color: inherit;
}


.btn, .btn-group > .btn {
    border-radius: 3px !important;
}

.dropdown-menu {

    border-radius: 5px !important;
}

.o_FormRenderer_chatterContainer {
    max-width: 440px !important;
}

