/* Footer Design
-----------------------------------------*/
#footer {
	.js_language_selector {
		.dropdown-toggle {
			position: relative;
			padding-right: 15px;
			margin: 0;
			cursor: pointer;
			border: 1px solid rgba(as-yiq-color($footer-color), 0.2);
			padding: 10px 25px 10px 10px;
			&:after {
				position: absolute;
			    top: 0;
			    bottom: 0;
			    line-height: 1;
			    height: 2px;
			    margin: auto;
			   	right: 10px;
			}
		}
		.sort-name {
			text-transform: uppercase;
		}
	}
	.dropdown-menu {
        margin: 0;
        border-radius: 0;
        box-shadow: $as-shadow-1;
        border: none;

        .dropdown-item {
            padding: 0.5rem 1.5rem;
            background: transparent !important;

            &.active,
            &:hover {
                color: $as-theme !important;
            }
        }
    }
}


.o_footer > #footer {
	color: rgba(as-yiq-color($footer-color), 0.7);
}

.footer-top {
    padding-top: 35px;
	padding-bottom: 35px;
	border-top: 1px solid rgba(as-yiq-color($footer-color), 0.1);
	border-bottom: 1px solid rgba(as-yiq-color($footer-color), 0.1);
	a {
		text-decoration: none;
	}
	.footer-widget-title{
		h6 {
		    font-size: 15px;
		    font-weight: 600;
		    margin: 0 0 15px;
		    position: relative;
		    text-transform: uppercase;
		    color: as-yiq-color($footer-color);
		}
	}

	.footer-logo {
		padding-bottom: 12px;
	}
	.footer-social-icons {
		a {
			margin-right: 3px;
			color: $as-white !important;
			font-size: 16px;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			&.facebook {
				background-color: #3b5998;
			}
			&.twitter {
				background-color: #00acee;
			}
			&.linkedin {
				background-color: #0e76a8;
			}
			&.instagram {
				background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
			}
			&.youtube {
				background-color: #c4302b;
			}
			&.github {
				background-color: #211F1F;
			}
		}
	}

	.footer-widget {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.footer-widget-list {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
		    padding-top: 4px;
			padding-bottom: 4px;
			a {
				position: relative;
				text-decoration: none;
				@include transition(ease-in-out all 0.2s);
				color: rgba(as-yiq-color($footer-color), 0.7);
				font-size: 14px;
				&:hover {
					color: as-yiq-color($footer-color);
				}
			}
		}
	}

	.footer-widget-address {
		p {
			position: relative;
			padding-left: 28px;
			color: rgba(as-yiq-color($footer-color), 0.7);
			i {
				position: absolute;
				top: 3px;
				left: 0;
			}
		}
	}
}

.footer-bottom {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	[class*="col-"] {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
